.navbar {
    box-shadow: 0 5px 6px -5px hsla(0,0%,52%,.2);
    border-bottom: 0;
    background: hsla(0,0%,100%,.8);
    .links {
        background-color: transparent !important;
    }
}
.home, .page {
    position: relative;
    z-index: 0;
    .theme-default-content {
        background: rgba(255, 255, 255, .5);
    }
}